.subscribe 
    .row
        .columns.small-12
            h3 Join Mailing List
        .columns.medium-6.small-12
            label Name:
                input(type="text" placeholder="Enter your name")
        .columns.medium-6.small-12
            label Email Address:
                input(type="text" placeholder="Enter your email")
        .columns.small-12
            input.button.white(type="submit" value="Submit")
            
            

