.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
  }
  .wrapper {
    height: 100%;
  }
  .block {
    margin: rem-calc(40 0);
    @include breakpoint(large){
      margin: rem-calc(80 0);
    }
    
  }
  .relative {
    position: relative;
  }