.site-header.js-header(role="banner")
    .row.align-justify.align-middle
        .columns.small-4.medium-3
            .site-header__logo
                img.lazyload(data-src="img/sample-logo-black.svg", alt="sample-logo-black.svg")
        .columns.medium-7
            include ../menubar/menubar