.products 
    .row.columns
        .swiper-container.js-products-carousel
            .swiper-wrapper
                .swiper-slide
                    .products__item
                        img(src="", alt="", srcset="")