nav.nav-bar
    ul(data-magellan data-offset="30")
        li.nav-bar__item 
            a(href="#home") Home
        li.nav-bar__item 
            a(href="#services") Services
        li.nav-bar__item 
            a(href="#about") About
        li.nav-bar__item 
            a(href="#products") Products
        li.nav-bar__item 
            a(href="#subscribe") Subscribe

//- mobile menu toggle
button.hamburger-menu.js-menu-toggle(type="button" data-toggle="offCanvasLeft") 
    span.bar
