nav.nav-bar
    ul(data-smooth-scroll)
        li.nav-bar__item 
            a(href="#home") Home
        li.nav-bar__item 
            a(href="#services") Services
        li.nav-bar__item 
            a(href="#about") About
        li.nav-bar__item 
            a(href="#projects") Projects
        li.nav-bar__item 
            a(href="#contact") Contact