.thumbnails#services.block
    .row.medium-up-3.small-up-2
        .columns.column-block
            .thumbnails__item
                img(src="img/thumbnail-ocean-shark.jpg", alt="thumbnail-ocean-shark")
                .thumbnails__content 
                    h3 The Extremes
                    p It uses a dictionary
        
        .columns.column-block
            .thumbnails__item
                img(src="img/thumbnail-boat.jpg", alt="thumbnail-boat")
                .thumbnails__content 
                    h3 The Extremes
                    p It uses a dictionary
        
        .columns.column-block
            .thumbnails__item
                img(src="img/thumbnail-sagres-portugal.jpg", alt="thumbnail-sagres-portugal")
                .thumbnails__content 
                    h3 The Extremes
                    p It uses a dictionary

        .columns.column-block
            .thumbnails__item
                img(src="img/thumbnail-hills.jpg", alt="thumbnail-hills")
                .thumbnails__content 
                    h3 The Extremes
                    p It uses a dictionary

        .columns.column-block
            .thumbnails__item
                img(src="img/thumbnail-ocean.jpg", alt="thumbnail-ocean")
                .thumbnails__content 
                    h3 The Extremes
                    p It uses a dictionary

        .columns.column-block
            .thumbnails__item
                img(src="img/thumbnail-river-forest.jpg", alt="thumbnail-river-forest")
                .thumbnails__content 
                    h3 The Extremes
                    p It uses a dictionary
