
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.home-banner {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &:before {
        content: '';
        background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0) 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        z-index: 2;
    }
    &__item {
        img {
            opacity: 0.8;
        }
    }
    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 70%;
        text-align: center;
        transform: translate(-50%, -50%)
    }
    h1 {
        text-transform: uppercase;
        font-size: rem-calc(64);
    }
    p {
        font-size: rem-calc(40);
        font-weight: 300;
    }
}