html(lang="en-ae" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Neque porro quisquam est qui dolorem
        meta(name="description" content="When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,")
        link(rel="stylesheet", href="css/app.css")
    body
        .wrapper
            include components/header/header
            include components/banner/banner
            include components/thumbnails/thumbnails
            include components/about/about
            include components/carousel/carousel
            include components/banner-img-only/banner-img-only
            include components/tabs/tabs
            include components/subscribe/subscribe
        
        
        script(src="js/app.js" defer)
