.projects.block
    .row.columns
        ul.tabs(id="example-tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs")
            li.tabs-title.is-active
                a(href="#panel1" data-tabs-target="panel1" aria-selected="true") Tab 1
            li.tabs-title
                a(href="#panel2" data-tabs-target="panel2") Tab 2
            li.tabs-title
                a(href="#panel3" data-tabs-target="panel3") Tab 3
        .tabs-content(data-tabs-content="example-tabs")
            .tabs-panel.is-active#panel1 
                p Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
            .tabs-panel#panel2 
                p Pivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
            .tabs-panel#panel3 
                p Tivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.